

.landing-page{
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    height: 100vh;
    font-family: "Montserrat";
}

.landing-page .image{
    margin-left: 120px;
    margin-top: 50px;
}

.landing-page .image img{
    border-radius: 50%;
    width: 450px;
    height: 450px;
    border: 3.5px solid #00b33c;
}

.landing-page .profile{
    width: 50%;
    margin-left: 70px;
    margin-top: 170px;
}

.landing-page .profile h1{
    font-size: 51px;
    padding-bottom: 10px;
}

.landing-page .profile h3{
    font-size: 25px;
    color: #00b33c;
    padding-bottom: 10px;
}

.landing-page .profile p{
    font-weight: 500;
    line-height: 0.7cm;
}


.landing-page .profile a{
    padding: 10px 15px;
    background-color: #00b33c;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    top: 40px;
    text-decoration: none;
    text-transform: uppercase;

}